body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.PageTransitionSlideIn-appear {
    opacity: 0;
    transform: translateX(30px);
}
.PageTransitionSlideIn-appear.PageTransitionSlideIn-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 150ms ease-in;
}